{
    "extends": ["standard", "plugin:jsdoc/recommended-error"],
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "plugins": [
        "jsdoc"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "array-callback-return": "off",
        "prefer-const": "off",
        "space-before-function-paren": ["error", "never"],
        "quote-props": "off",
        "no-useless-return": "off",
        "object-curly-newline": "off",
        "indent": ["error", "tab"],
        "no-tabs": ["error", { "allowIndentationTabs": true} ],
        "no-mixed-spaces-and-tabs": [
            "error",
            "smart-tabs"
        ],
        "arrow-parens": ["error", "as-needed"],
        "no-return-assign": "off",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-unused-vars": ["error", {"destructuredArrayIgnorePattern": "^_"}],
        "no-prototype-builtins": "off",
        "jsdoc/require-returns": "off",
        "jsdoc/require-returns-check": "off",
        "jsdoc/require-returns-description": "off",
        "jsdoc/check-types": "off",
        "jsdoc/valid-types": "off",
        "jsdoc/no-undefined-types": "off"
    },
    "settings": {
        "jsdoc": {
            "mode": "permissive"
        }
    }
}
