{
    "extends": "standard",
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "array-callback-return": "off",
        "prefer-const": "off",
        "space-before-function-paren": ["error", "never"],
        "quote-props": "off",
        "no-useless-return": "off",
        "object-curly-newline": "off",
        "indent": ["error", "tab"],
        "no-tabs": ["error", { "allowIndentationTabs": true} ],
        "no-mixed-spaces-and-tabs": [
            "error",
            "smart-tabs"
        ],
        "arrow-parens": ["error", "as-needed"],
        "no-return-assign": "off",
        "no-unused-vars": ["error", {"destructuredArrayIgnorePattern": "^_"}]
    }
}
